<!-- 
  This file needs to be located under your M2 Home for Maven (most commonly, ~/.m2/) 
  Make sure to update the URLs witht the correct artifactory address.
  You can also replace the username and password, or use the environment variables.
-->
<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
      <id>incortax-central</id>
    </server>
    <server>
      <username>${env.ARTIFACTORY_USERNAME}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
      <id>incortax-snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>incortax-central</id>
          <name>incortax-mvn-dev-local</name>
          <url>_REPLACE_ME_</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>incortax-snapshots</id>
          <name>incortax-mvn-dev-local</name>
          <url>_REPLACE_ME_</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>incortax-central</id>
          <name>incortax-mvn-dev-local</name>
          <url>_REPLACE_ME_</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>incortax-snapshots</id>
          <name>incortax-mvn-dev-local</name>
          <url>_REPLACE_ME_</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
